POSTGRES_DB=ImageViewerDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
JWT_SECRET=change-me-super-secret
IMAGE_STORAGE_PATH=/mnt/nas/imageviewer/images
IMAGE_STORAGE_CONTAINER_PATH=/app/storage/images
